blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 10px;
  margin-top: 30px;
}

header {
  margin-bottom: 60px;
}

i {
  margin-right: 10px;
}

.color-white{
  color: white;
}

.img-profile {
  border-radius: 10rem;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  float: right;
}

.img-thumbnail {
  border-radius: 1rem;
  width: 90px;
  height: 90px;
  margin: 2px;
}

@media (max-width: 576px) {
  h4{
    text-align: center;
  }
  .image-center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.active {
  font-weight: bolder;
  background-color: #303030;
}

.navbar-brand {
  padding: 0.5rem 2rem;
}

.nav-link {
  margin: 5px;
}

/* ANIMATIONS */

.btn, .nav-item, .navbar-brand, .img-thumbnail, .card-portfolio, h3 a i {
  transform: scale(1);
  transition: transform 400ms;
}

.btn:hover {
  transform: scale(1.15);
}


.nav-item:hover, .navbar-brand:hover {
  transform: scale(1.15);
}

.img-thumbnail:hover {
  transform: scale(1.05);
}

.card-portfolio:hover {
  transform: scale(1.025);
}

h3 a i:hover {
  transform: scale(1.4);
}